@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-red: #e71d36;
  --color-yellow: #ff9f1c;
  --color-blue: #011627;
  --color-teal: #2ec4B6;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-cream: #FDF2DB;
  --font-special: "Open Sans";
  --font-body: "Montserrat";
  --font-new: "Anton"
}

.navbar {
  border-bottom: 0.5px solid hsla(0, 0%, 77%, 0.75);
}

.social-icons{
  background: #ffffff;
  color: #e71d36;
  padding: 10px 10px;
  border-radius: 50%;
  transition: all, transform ease 350ms;

  box-shadow: 0px 5px 8px 1px rgb(0, 0, 0, 0.24);

}
.social-icons:is(:hover) {
  box-shadow: 0px 10px 15px 5px rgba(62, 62, 62, 0.24);
  background: #011627;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 50%;
  /* Shadow effect */
  transform: translateY(-8px); /* Moves the icon upwards */
}

.wework {
  background-image: url(/assets/elipse.svg), url(/assets/vector.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 100% 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 10s linear infinite;
}
